<form action="<%= comments_url %>" method="POST">
    <input 
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
    <input 
        type="hidden"
        name="comment[post_id]"
        value="<%= comment.post_id %>">
    <input 
        type="hidden"
        name="comment[parent_comment_id]"
        value="<%= comment.parent_comment_id %>">
    <label for="comment_body">Body</label>
    <br>
    <textarea 
        name="comment[body]" 
        id="comment_body" 
        cols="30" 
        rows="10"></textarea>
    <br>
    <input type="submit" value="Create comment">
</form>